<p-growl [value]="msgs"></p-growl>


<div class="chat">
<input [(ngModel)]="message" /><button (click)="sendMessage()">Click</button>
<div *ngFor="let message of messages">
  {{message.text}}
 </div>
 </div>
<div class="content-block">
    <div class="card card-stats">
        <div class="card-header card-header-icon" data-background-color="red">
            <i class="material-icons fa fa-wifi"></i>
        </div>
        <div class="card-content">
            <h4 class="card-title">Configurer les capteurs</h4>
            <app-steps [activeIndex]='3'></app-steps>

      <div class="ui-g-5">
            <div style="margin-top:20px">
                  <p-panel>
                    <p-header>
                        <span><i class="fa fa-wifi"></i></span>
                         Capteurs de mesure
                    </p-header>
                      <div class="ui-grid-row">
                          <div class="ui-g-5"><label >Temps de cycle de mesure (s)</label></div>
                          <div class="ui-g-7"><p-spinner [(ngModel)]="simulConfig.sim_step_duration" [step]="1"></p-spinner></div>
                      </div>
                      <div class="ui-grid-row">
                          <div class="ui-g-5"><label >Distance entre deux capteurs (s)</label></div>
                          <div class="ui-g-7"><p-spinner [(ngModel)]="simulConfig.distance" [step]="1"></p-spinner></div>
                      </div>
                  </p-panel>
            </div>

            <div style="margin-top:20px">
                 <p-panel>
                      <p-header>
                          <span><i class="fa fa-map-o"></i></span>
                           Réseau routier
                      </p-header>
                      <div class="ui-grid-row">
                          <div class="ui-g-5"><label>Densité critique (veh/km)</label></div>
                          <div class="ui-g-7"><p-spinner [(ngModel)]="simulConfig.critical_density" [step]="10"></p-spinner></div>
                      </div>
                </p-panel>
            </div>
            <div style="margin-top:20px">
                 <p-panel>
                      <p-header>
                          <span><i class="fa fa-group"></i></span>
                          Conformité des conducteurs
                      </p-header>
                      <div class="ui-grid-row">
                          <div class="ui-g-5"><label for="distance">Niveau de respect (%)</label></div>
                          <div class="ui-g-7"><p-spinner [(ngModel)]="simulConfig.driver_compliance" [step]="10"></p-spinner></div>
                      </div>
                </p-panel>
            </div>
      </div>

      <div class="ui-g-1"></div>

      <div class="ui-g-6">
            <div style="margin-top:20px">
                  <p-panel>
                    <p-header>
                        <span><i class="fa fa-cogs"></i></span>
                        Paramètres de l'Algorithme
                    </p-header>
                      <div class="ui-grid-row">
                          <div class="ui-g-6"><label>Ki</label></div>
                          <div class="ui-g-4"><p-spinner [(ngModel)]="simulConfig.ki" [step]="1"></p-spinner></div>
                      </div>
                      <div class="ui-grid-row">
                          <div class="ui-g-6"><label> Ɛ (m)</label></div>
                          <div class="ui-g-4"><p-spinner [(ngModel)]="simulConfig.xi" [step]="100"></p-spinner></div>
                      </div>
                      <div class="ui-grid-row">
                          <div class="ui-g-6"><label>Cv (km/h)</label></div>
                          <div class="ui-g-4"><p-spinner [(ngModel)]="simulConfig.cv" [step]="10"></p-spinner></div>
                      </div>
                      <div class="ui-grid-row">
                          <div class="ui-g-6"><label>Vmin (km/h)</label></div>
                          <div class="ui-g-4"><p-spinner [(ngModel)]="simulConfig.v_min" [step]="10"></p-spinner></div>
                      </div>
                      <div class="ui-grid-row">
                          <div class="ui-g-6"><label>Nombre de segment LDV</label></div>
                          <div class="ui-g-4"><p-spinner [(ngModel)]="simulConfig.num_vsl_sections" [step]="10"></p-spinner></div>
                      </div>
                  </p-panel>
            </div>
            <div style="margin-top:20px">
                 <p-panel>
                      <p-header>
                          <span><i class="fa fa-group"></i></span>
                          Durée de la simulation
                      </p-header>
                      <div class="ui-grid-row">
                          <div class="ui-g-5"><label for="distance">Niveau de respect (s)</label></div>
                          <div class="ui-g-7"><p-spinner [(ngModel)]="simulConfig.simDuration" [step]="100"></p-spinner></div>
                      </div>
                </p-panel>
            </div>
      </div>
      <div class="card-footer">
          <div style="float:right">
              <button type="button" pButton label="lancer" icon="fa-arrow-right" (click)="configSimulation()"></button>
          </div>
          <div>
              <button type="button" pButton label="précédent" icon="fa-arrow-left" (click)="prev()"></button>
          </div>
      </div>
</div>



  </div>
  </div>
