<ng-sidebar-container>
     <ng-sidebar
       [(opened)]="opened"
       [mode]="'push'"
       [position]="'left'"
       [sidebarClass]="'demo-sidebar'"
       [animate]="true">
       <div class="mySidebar">
         <!-- Sidebar components -->
         <div class="sidebar" data-color='green' data-image="">
            <sidebar-cmp></sidebar-cmp>
            <div class="sidebar-background"></div>
        </div>
       </div>
     </ng-sidebar>

    <div style="overflow:hidden">
     <header class="demo-header">
       <span (click)="toggleOpened()" class="fa fa-bars"></span>
       <span>Plateforme de simulation</span>
     </header>
    <router-outlet></router-outlet>
    </div>
</ng-sidebar-container>
