<p-growl [value]="msgs"></p-growl>
<!-- <app-header
  [title]='"Traffic routier"'
  [description]='"Définir les routes, les accidents..."'
 ></app-header> -->

 <div class="content-block">
   <div class="card card-stats">
       <div class="card-header card-header-icon" data-background-color="yellow">
           <i class="material-icons fa fa-map-marker"></i>
       </div>
       <div class="card-content">
           <h4 class="card-title">Définir les points de départ/d'arrivé et les points d'accident</h4>
           <app-steps [activeIndex]='1'></app-steps>
           <!-- <div class="on-map">
             <input type="text" size="20" pInputText [(ngModel)]="address" (keyup.enter)="" />
             <button type="button" pButton icon="fa-arrow-right" (click)=""></button>
             <button type="button" pButton icon="fa-square-o" (click)=""></button>
           </div> -->

           <p-gmap #gmap [style]="{'width':'100%','height':'500px'}" [options]="options" [overlays]="overlays"
               (onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)"></p-gmap>


           <p-dialog showEffect="fade" [(visible)]="dialogVisible" header="New Location">
               <div class="ui-grid ui-grid-pad ui-fluid" *ngIf="selectedPosition">
                 <div class="ui-grid-row">
                     <div class="ui-grid-col-2"><label for="type">Type</label></div>
                     <div class="ui-grid-col-10">
                       <p-dropdown [options]="markerTypes" [(ngModel)]="selectedType" placeholder="Select a Type"
                       [style]="{'width':'200px'}" [panelStyle]="{}" >
                         <ng-template let-type pTemplate="item">
                             <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                 <img src="../../../assets/images/typeMarker/{{type.value}}.ico" style="width:24px;position:absolute;top:1px;left:5px"/>
                                 <div style="font-size:14px;float:right;margin-top:4px">{{type.label}}</div>
                             </div>
                         </ng-template>
                       </p-dropdown>
                     </div>
                 </div>
                   <div class="ui-grid-row">
                       <div class="ui-grid-col-2"><label for="name">Label</label></div>
                       <div class="ui-grid-col-10"><input type="text" pInputText [(ngModel)]="markerName"></div>
                   </div>
                   <div class="ui-grid-row">
                       <div class="ui-grid-col-2"><label for="lat">Lat</label></div>
                       <div class="ui-grid-col-10"><input type="text" readonly pInputText [ngModel]="selectedPosition.lat()"></div>
                   </div>
                   <div class="ui-grid-row">
                       <div class="ui-grid-col-2"><label for="lng">Lng</label></div>
                       <div class="ui-grid-col-10"><input type="text" readonly pInputText [ngModel]="selectedPosition.lng()"></div>
                   </div>
                   <div class="ui-grid-row">
                       <div class="ui-grid-col-2"><label for="debit">Débit</label></div>
                       <div class="ui-grid-col-10"> <p-spinner [(ngModel)]="flow" [step]="100"></p-spinner></div>
                   </div>

               </div>
               <p-footer>
                   <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                       <button type="button" pButton label="Ajouter" icon="fa-plus" (click)="addDepart(markerName)"></button>
                   </div>
               </p-footer>
           </p-dialog>
       </div>
   </div>

 </div>

<div class="ui-g-12">
  <div class="content-block">
       <div class="card card-stats">
           <div class="card-header card-header-icon" data-background-color="blue">
               <i class="material-icons fa fa-flag"></i>
           </div>
           <div class="card-content">
                <h4 class="card-title">Liste des points de départ</h4>
                <p-dataTable [value]="departPoints" [editable]="true">
                    <p-column field="id" header="id"></p-column>
                    <p-column field="from.lat" header="Point de depart"></p-column>
                    <p-column field="flow" header="Débit"></p-column>
                    <p-column field="vehcileType.id" header="Type de véhicules"></p-column>

                </p-dataTable>
          </div>
       </div>
  </div>
</div>

<div class="ui-g-6">
  <div class="content-block">
       <div class="card card-stats">
           <div class="card-header card-header-icon" data-background-color="orange">
               <i class="material-icons fa fa-flag-checkered"></i>
           </div>
           <div class="card-content">
                <h4 class="card-title">Liste des points de départ</h4>
                <p-dataTable [value]="departPoints" [editable]="true">
                    <p-column field="id" header="id"></p-column>
                    <p-column field="from.lat" header="Point de depart"></p-column>
                </p-dataTable>
          </div>
       </div>
  </div>
</div>

<div class="ui-g-6">
  <div class="content-block">
       <div class="card card-stats">
           <div class="card-header card-header-icon" data-background-color="red">
               <i class="material-icons fa fa-car"></i>
           </div>
           <div class="card-content">
                <h4 class="card-title">Liste des accidents</h4>
                <p-dataTable [value]="departPoints" [editable]="true">
                    <p-column field="id" header="id"></p-column>
                    <p-column field="from.lat" header="Lieu"></p-column>
                    <p-column field="flow" header="temps"></p-column>
                </p-dataTable>
          </div>
       </div>
  </div>
</div>
